.pad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 20rem;
    width: 20rem;
    padding:0%;
    margin: 0;
    align-content: center;
}

.square {
   background-color: yellow;
   height: 0%;
   width: 0%;
   margin: 0;
   border-style: solid;
   border-color: blue;
}